[submodule "depends/libsnark"]
	path = depends/libsnark
	url = https://github.com/scipr-lab/libsnark.git
	ignore = dirty
[submodule "depends/SHA3IUF"]
	path = depends/SHA3IUF
	url = https://github.com/harryr/SHA3IUF.git
[submodule "depends/json"]
	path = depends/json
	url = https://github.com/nlohmann/json.git
[submodule "depends/libfqfft"]
	path = depends/libfqfft
	url = git@github.com:Ethsnarks/libfqfft.git
